<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link href="https://fonts.googleapis.com/css?family=Arvo:700|Catamaran:700|Josefin+Sans:600|Merriweather:900|Montserrat:500|Open+Sans:800|PT+Sans:700|Raleway:500|Roboto+Slab:700|Ubuntu:500" rel="stylesheet">


    <title>Restaurant</title>
  </head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">STEVESTON</a>

    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/menu">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cart">Cart</a>
        </li>
      </ul>
    </div>
  </nav>

  <main role="main">

    <div class="jumbotron bg">
      <div class="container">
        <!-- <h2 class="display-3 text-center titletext">Sea Food</h2>
        <h3 class="text-center titletext">Delivery</h3> -->
        <br><br><br><br><br> <br><br><br><br><br><br><br><br>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">

        <div class="col-md-4 food">
          <a href="/menu?category=fish">
            <h4 class="text-center">Fish</h4>
            <img src="/images/salmon.jpg" alt="Chicken Paprikash" class="img-thumbnail">
          </a>
        </div>

        <div class="col-md-4 food">
          <a href="/menu?category=crustacean">
            <h4 class="text-center">Crustaceans</h4>
            <img src="/images/prawns.jpg" alt="Chicken Paprikash" class="img-thumbnail">
          </a>
        </div>

        <div class="col-md-4 food">
          <a href="/menu?category=shellfish">
            <h4 class="text-center">Shellfish</h4>
            <img src="/images/oysters.jpg" alt="Chicken Paprikash" class="img-thumbnail">
          </a>
        </div>
      </div>
      <br>
      <hr>

    </div> <!-- /container -->

  </main>


  <footer class="container">
    <p>© STEVESTON 2000-2019</p>
  </footer>

</body>
</html>