
.quantity {
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    margin-top: 0px;
    float: right;
}

.quantity div{
    width: 20px;
    display: inline-block;
    text-align: center;
    padding-top: 0;

    height: 100%;
    margin: 0;
}

.increment {
    border-left: 1px solid black;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;

}

.decrement {
    border-left: 0px;
    border-top: 0px;
    border-right: 1px solid black;
    border-bottom: 0px;

}
.counterprice {
    display: flex;
    padding-top: 10px;
}

.counterprice span {
    padding-right:4px;
    padding-top: 2px;
    margin-left: 10px;
    border: 1px solid black;
    width: 75px;
    height: 29px;
    text-align: center;
}
