.img {
  width: 100px;
  height: 100px;
}

.bg {
  /* The image used */
  background-image: url("/images/3.JPG");

  /* Half height */
  height: 50%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.titletext {
  color: #0033cc;
/*font-family: 'Roboto Slab', serif;*/
/*font-family: 'Ubuntu', sans-serif;*/

/*font-family: 'Merriweather', serif;*/
/*font-family: 'Josefin Sans', sans-serif;*/
/*font-family: 'Arvo', serif;*/
/*font-family: 'Catamaran', sans-serif;*/
/*font-family: 'PT Sans', sans-serif;*/
font-family: 'Open Sans', sans-serif;

}

h4 {
  font-size: 18px;
  font-family: 'Catamaran', sans-serif;
  margin-bottom: 0.7rem;
}

main .jumbotron {
  margin-bottom: 1.4rem;
}

.navbar img {
  height: 44px;
  margin-left: 3px;
}